SC_CLIENT_ID=YOUR_SOUNDCLOUD_CLIENT_ID
SC_OAUTH_CLIENT_ID=YOUR_APP_OAUTH_CLIENT_ID
SC_OAUTH_CLIENT_SECRET=YOUR_APP_OAUTH_CLIENT_SECRET
SC_APP_VERSION=
SC_APP_LOCALE=en
SC_OAUTH_REDIRECT_URI=http://localhost:3000/auth/callback
DISCORD_CLIENT_ID=1483796229774114826
PORT=3000
COOKIE_SECURE=false
CORS_ORIGINS=http://localhost:3000
VITE_API_BASE_URL=http://localhost:3000
